.keyboard-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(70, 68, 63);
}

/* .keyboard {
    
} */

.line {
    display: flex;
}

.key {
    width: 20px;
    height: 20px;
    text-align: center;
    color: aliceblue;
    border: 1px solid black;
    background-color: grey;
    margin: 1px;

    transition: all 0.1s ease-in;


    &.active-area {
        outline: 2px solid red;
    }

    &.selector {
        transform: scale(1.3);
    }

    &:hover {
        transform: scale(1.3);
    }

    &.clicked {
        transition: outline 0.01s ease-in;
        outline: 2px solid rgb(255, 255, 255);
    }


    /* &.right { border: 1px solid blue; }
    &.top { border: 1px solid green; }
    &.bottom { border: 1px solid yellow; } */
}